assignment0/__pycache__
assignment1/__pycache__
assignment1/.vscode
assignment1/checkpoints/final-lstm_model.h5
assignment1/logs/events.out.tfevents.1565385777.internal2
assignment1/logs/events.out.tfevents.1565427933.internal2
